<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="3000000000" />
            </requestFiltering>
        </security>
        <!-- <security>
            <requestFiltering>
                <httpRuntime maxRequestLength="1048576" />
                <requestLimits maxAllowedContentLength="1048576" />
            </requestFiltering>
        </security> -->

    </system.webServer>
    <system.net>
    </system.net>
</configuration>